/* Div */
*{
	margin: 0;
	padding: 0;
	list-style: none;
}
body{
	background-color: #4a4a4a;
	color:#555;

	-webkit-text-size-adjust:100%;
	font-family: "微软雅黑";
	font-size: 14px;
	line-height: 20px;
}
.body {
	min-width:1430px;
	margin-bottom: 50px;
	margin:50px;
	height: 100%;
}
.body img {
	border-style:none;
	vertical-align:top;
	max-width:100%;
	height:auto;
}

body a {
	text-decoration:none;
	color:#333;
}
.body a:hover {
	color:#ff7700;
	text-decoration:none;
}

/*.c-860 {*/
	/*max-width: 900px;*/
	/*margin-top: 0px;*/
	/*margin-right: auto;*/
	/*margin-bottom: 0px;*/
	/*margin-left: auto;*/
	/*padding-top: 100px;*/
	/*padding-right: 10px;*/
	/*padding-bottom: 0px;*/
	/*padding-left: 10px;*/
/*}*/

.c-demoslider {
	margin: 0px auto;
}
/* Slider */
#layerslider-wrapper{
	position:relative;
}
#layerslider-wrapper .ls-shadow-top{
	position:absolute;
	background-image:url(bg/shadow-top.png);
	background-repeat:no-repeat;
	background-position:top center;
	height:42px;
	width:100%;
	top:0;
	z-index:1;
}
#layerslider-wrapper .ls-shadow-bottom{
	position:absolute;
	background-image:url(bg/shadow-bottom.png);
	background-repeat:no-repeat;
	background-position:bottom center;
	height:32px;
	width:100%;
	bottom:0;
	z-index:1;
}
.ls-avada{
	border-top: 1px solid #d2d3d4;
	border-bottom: 1px solid #d2d3d4;
}
.ls-avada .ls-layer{
	background-repeat:no-repeat;
	background-position:center center;
}
.ls-avada .ls-nav-prev, .ls-avada .ls-nav-next {
	background-color: rgba(0, 0, 0, 0.5);
	background-repeat: no-repeat;
	width: 63px;
	height: 63px;
	display: none;
	position: absolute;
	top: 42%;
	opacity:0.8 !important;
}
.no-rgba .ls-avada .ls-nav-prev, .no-rgba .ls-avada .ls-nav-next, .no-rgba .wooslider .wooslider-prev, .no-rgba .wooslider .wooslider-next {
	background-color:#ccc;
}
.ls-avada .ls-nav-prev:hover, .ls-avada .ls-nav-next:hover{
	opacity:1 !important;
}
.ls-avada:hover .ls-nav-prev, .ls-avada:hover .ls-nav-next {
	display: block;
}
.ls-avada .ls-nav-prev {
	background-image: url(bg/ls_prev.png);
	background-position: 19px 19px;
	left: 0;
}
.ls-avada .ls-nav-next {
	background-image: url(bg/ls_next.png);
	background-position: 29px 19px;
	right: 0;
}

#fallback-slide{
	display:none;
	text-align:center;
}


/* Global styles */

.cute-slider {
	position: relative;
	visibility: hidden;
	overflow: hidden;
}

.cute-ie8 *,
.cute-ie7 * {
	filter: inherit;
	opacity: inherit;
}

/* Slider Controls */

.br-controls {
	position: absolute;
	z-index: 10;
}

.br-next,
.br-previous,
.br-slidecontrol,
.br-thumb-bottom .br-thumb-img,
.br-thumb-up .br-thumb-img,
.br-thumblist {
	position: absolute;
}

.br-slidecontrol {
	list-style: none;
	cursor: auto !important;
}

	.br-slidecontrol ul {
		margin: 0px;
		padding: 0px;
		height: 0px;
	}

	.br-slidecontrol ul li {
		display: block;
		position: relative;
		float: left;
		cursor: pointer !important;
	}

	.br-slidecontrol ul li .br-control-selected {
		display: none;
	}

.br-thumb-bottom,
.br-thumb-up {
	position: relative;
}

.br-thumblist {
	width: 100%;
	text-align: center;
	height: 0px;
	left: 0px;
	bottom: 0px;
}

.br-thumblist-content .br-list-thumb img {
	cursor: pointer !important;
}

.br-thumb-img img {
	height: 100% !important;
}

.br-slideinfo .top,
.br-slideinfo .bottom {
	width: 100%;
}

.br-slideinfo .right,
.br-slideinfo .left {
	height: 100%;
}

.br-slideinfo .more-btn {
	cursor: pointer !important;
	display: block;
	position: relative;
	text-decoration: none;
}

.br-slideinfo .subtitle,
.br-slideinfo .title,
.br-slideinfo .text {
	display: block;
}

/* Slider Timer */

.br-circle-timer,
.br-circle-timer .br-timer-dot,
.br-bar-timer,
.br-bar-timer .br-timer-bar {
	position: absolute !important;
}

.br-circle-timer .br-timer-dot {
	left: 50% !important;
	top: 50% !important;
}

/* Slider Captions */

.br-captions div {
	position: absolute;
	text-shadow: none;
}

/* Slider Video */

.br-video .play-btn,
.br-video .close-btn {
	background-repeat: no-repeat;
	cursor: pointer !important;
	position: absolute;
}

.br-video .video-cont {
	position: absolute;
	z-index: 2;
}

.cute-ie8 .video-cont,
.cute-ie7 .video-cont {
	z-index: auto !important;
}

/* Slider Shadow */

.cute-shadow {
	width: 100%;
}

.cute-shadow img {
	max-width: 100%;
}

/* Slider Loading */

.br-loading {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 101;
}

.br-large-loading {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 100;	
}

.br-loading .img,
.br-large-loading .img {
	width: 100%;
	height: 100%;
}

/* Trying to remove all the default global styles of WordPress :) */

.cute-slider img {
	max-width: none !important;
}

.cute-slider img,
.entry-content .cute-slider img,
.comment-content .cute-slider img,
.widget .cute-slider img,
.cute-shadow img,
.entry-content .cute-shadow img,
.comment-content .cute-shadow img,
.widget .cute-shadow img {
	border-radius: 0px;
	box-shadow: none;
	border: 0px;
	margin: 0px;
}

.entry-content .cute-slider *,
.comment-content .cute-slider *,
.widget .cute-slider * {
	line-height: normal;
	padding: 0px;
	outline: none;
	border: 0px;
	margin: 0px;
}

.cute-slider br.clear {
	clear: both;
}

.top div ,
.right div,
.bottom div,
.left div {
	padding: 20px !important;
}

.br-infocontent .title {
	background: none !important;
	margin: 0px !important;
	padding: 0px !important;
}

.br-infocontent .text {
	text-align: justify;	
	margin: 10px 0px 0px 0px !important;
	padding: 0px !important;
}


/*个人介绍*/
.introduction{
	background-color: white;
	margin-top: 100px;
	height: 65rem;
}
.introduction .sk-title{
	padding-top: 160px;
}

.introduction b{
	font-size: 70px;
}
.introduction .in-name{
	background: white;
}
.box{
	display: flex;
	justify-content: space-around;
	margin: 0 120px 0 385px;
	padding-top: 50px;
	min-width: 1010px;
}
.myph{
	display: flex;

}
.photo-left{
	display: none;
}
.photo-middle{
	display: block;
}
.photo-right{
	display: none;
}
.photo-left,.photo-right,.photo-middle{
	opacity: 1;
}
.photo-small{

	margin: 77px 70px 102px 0;
	height: 17rem;
	width: 10rem;
	box-shadow: 10px 10px 5px rgba(64, 64, 64, 0.5);
}
.phbox{
	transition: all 0.2s ease-in;
	margin-left: -82px;
	height: 100px;
	width: 480px;
	margin-top: -267px;
	background-color: #ffd920;
}
.photo-big{
	transition: all .5s ease-in;
	height: 27rem;
	width: 20rem;
	box-shadow: 10px 10px 5px rgba(64, 64, 64, 0.5);
}
.introduction .mytext h1{
	margin-bottom: 65px;
	font-size: 40px;
	margin-left: 28px;
}
.mytext div{
	margin: 40px;
	font-size: 20px;
}
.mytext a{
	color: #ffd920;
	display: block;
}
.a{
	display: flex;
}
.mytext .button{
	background-color: #ffdc64;
	border: 3px solid #ffd920;
	width: 160px;
	border-radius: 30px;
}
.button{
	display: flex;
}
.button div{
	margin: 10px;
	color: #fffbfd;

	font-weight: 500;
}
/*我的技能*/
.skill{
	background-color: #4a4a4a;
	margin-top: 100px;
	height: 17rem;
}
.sk-title{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #a6a6a6;
	padding-top: 50px;
}
.sk-line{
	width: 70%;
	border: 1px solid #ffd920;
}
.sk-name{
	color: #ffd920;
	background: #4a4a4a;
	height: 3rem;
	width: 14rem;
	margin-top: -22px;
	padding: 10px 70px;
	font-size: 50px;
}
.sk-title b{
	font-size: 70px;
}
.sk-one{
	margin-top: 30px;
	margin: 10px;
}
.sk-two{
	margin-bottom: 50px;
}
.myskill{
	position: relative;
	transition: all .5s ease-in;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
	flex-direction: column;
}

.myskill div{
	height: 288px;
	width: 325px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

}
.myskill .two{

	display: none;
	transition: all .5s ease-in;

}
.two div{
	height: 288px;
	width: 325px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.myskill img{
	height: 150px;
	width: 150px;
}
.msk-one{
	background-color: #fff69a;
	margin-left: -325px;
}
.msk-parent:hover{
	transform: rotatey(180deg);
	z-index: 2;
}
.msk-parent{
	perspective: 1000px;
	position: absolute;
	transform-style: preserve-3d ;
	z-index: 10;
	transition: all 1s ease;

	font-size: 20px;

}
.msk-child{
	transform: rotatey(180deg);
	z-index: 5;
	position: absolute;
	height: 288px;
	width: 325px;
	color: #4a4a4a;
	opacity: 0.9;
	box-sizing: border-box;
	padding: 50px 50px;
	font-size: 15px;
}
.msk-child div{
width: 250px;
}
.msk-child div div{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}
.msk-child img{
	height: 20px;
	width: 20px;
}


.msk-two{
	background-color: #ffeb59;
}
.msk-three{
	background-color: #ffd920;
	margin-left: 325px;
}
.msk-one .msk-child{
	background-color: #fff69a;
}
.msk-two .msk-child{
	background-color: #ffeb59;
}
.msk-three .msk-child{
	background-color: #ffd920;
}
.iconfont{
	font-size: 136px;
}
.icon-css{
	font-size: 500px;
}
.skill .bottom{
	border: 2px solid #4a4a4a;
	width: 92px;
	height: 0;

	position: absolute;
	z-index: 10;
	width: 321px;

}

.skill .triangle{
	width:0;
	height:0;
	border-width:30px 30px 0;
	border-style:solid;
	border-color: #4a4a4a transparent transparent;/*灰 透明 透明 */
	position:absolute;
	z-index: 10;

}
.skill .top{
	margin: -143px 0 0 0;
	z-index: 15;
}
#show{
	height: 25px;
	align-items: center;
	justify-content: flex-start;
}
/*我的项目*/
.project{
	background-color: #fffbfc;
	margin-top: 100px;
	height: 90rem;
	z-index: 1;
	position: absolute;

	width: 100%;
}
.pro-box{
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-top: 220px;
}
.project .sk-title{
	margin-top: 120px;
}
.project .sk-name{
	background-color: #fffbfc;
}
